body{
    font-size: 3vw;
    color: brown;
    background-color: black;
}

.css {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 40px;

    h2 {
        color: white;
    }
}

input {
    margin: 0 10px;
    height: 30px;
    border: 0;
}

button {
    height: 30px;
    letter-spacing: 3px;
}

#count {
    text-align: center;
}
#count button {
   border-radius: 50%;
   border: 2px solid red; 
   box-sizing: content-box;
   padding: 10px;
}

#count button:hover {
    background-color: black;
    color: white;
}
#count label {
    font-size: 60px;
}

#randomGenerator {
    button{
        padding: 5vw;
        font-size: 5vw;
        height: auto;
        
    }
    #myLabel {
        color: white;
        font-size: 10vw;
    }
}