body{
    font-size: 3vw;
    color: brown;
    background-color: black;
}

.css {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 40px;
    text-align: center;

}

h1{
    color: blue;
}


ul {
    text-align: left ;
    li{
        list-style: none;
        margin-bottom: 3vw;

    }
}

input {
    margin: 0 10px;
    height: 30px;
    border: 0;
}

button {
    height: 30px;
    letter-spacing: 3px;
    border-radius: 50%;
   border: 2px solid red; 
   box-sizing: content-box;
   padding: 10px;
   margin-top: 20px;
}

button:hover {
    background-color: black;
    color: white;
}

#count {
    text-align: center;
}

#count label {
    font-size: 60px;
}

#randomGenerator {
    button{
        padding: 5vw;
        font-size: 5vw;
        height: auto;
        
    }
    label {
        color: white;
        font-size: 10vw;
        margin: 4vw;
        font-size: 8vw;
    }
   
}

#check {
    text-align: left;
}

#exp {
    color: bisque;
}

#result {
    font-weight: 100;
    font-style: italic;
    color: brown;
}


#tempConv {

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .position {
        flex-direction: column;
    }

    #input{
        margin: 30px 0;
    }


}

#exp2 {
    color: blueviolet;
}

#roll{
    #img {
        margin-top: 20px;
        img{
            width: 7vw;
            display: none;
        }
    
    }
    
    h2 {
        display: inline;
    }
}
